/* .navbar {
    background: #081b29;
} */
.navbar a{
    color: white;
    font-family: sans-serif;
    border-radius: 5px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a:hover{
    /* border-bottom: 2px solid white; */
    transition: 0.s;
    background-color: #4d92fb;
    color: white;
}

.navbar-nav li a{
    font-size: 1.2rem;
}

.navbar-nav a{
    font-size: 1.2rem;
}

.navbar-brand h3{
    color: white;
    font-weight: bold;
}

/* .navbar-brand h3:hover{
    text-decoration: none;
    color: white;
} */